nav{
    display:flex;
    flex-direction: row;
  
}

ul{
    display:flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

li{
    list-style-type: none;
    padding: 1rem;
    /*margin: 5rem;*/
    background-color: aquamarine;


}
li a{
    text-decoration: none;
    color:black;
}

.hide{
    visibility: hidden;
}
.show {
    visibility: initial;
}
